body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes main {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navbar {
  box-sizing: border-box;
  height: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 30px;
  background: #181818;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  animation: main 1s ease-in;
}

.main {
  width: 87%;
  margin: 0 auto;
  margin-top: 30px;
  animation: main 1.5s ease-in;
}

.intro {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #e7e7e7;
  background-image: linear-gradient(
    25deg,
    rgb(255, 255, 255),
    rgb(217, 233, 252)
  );
  color: #242424;
  border: 1px solid rgb(141, 141, 141);
  animation: main 2s ease-in;
}
.image-cont {
  border-radius: 20px;
  overflow: hidden;
  animation: main 2.5s ease-in;
}

.image {
  width: 105%;
}

.info-cont {
  display: none;
  height: 80px;
}

.info-cont div {
  margin-bottom: 5px;
}

.info-cont span {
  font-weight: 700;
  margin-right: 5px;
}

.info-cont-active {
  display: flex;
  flex-direction: column;
}

.main-info {
  display: flex;
  flex-direction: column;
  color: #242424;
  margin: 10px 0px;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 30px;
  padding: 20px;
  background-image: linear-gradient(
    25deg,
    rgb(217, 233, 252),
    rgb(255, 255, 255)
  );
  transition: height 1s ease-in;
  border: 1px solid rgb(141, 141, 141);
  animation: main 3s ease-in;
}

.main-info-active {
  height: 150px;
  transition: height 1s ease-in;
}

.info-btn {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: auto;
  font-weight: 700;
  color: #181818;
}

.contact {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  font-size: 27px;
  color: #242424;
  margin-top: 40px;
  margin: 0px auto;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 30px;
  animation: main 3s ease-in;
}

.contact-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  height: 60px;
  border-radius: 36px;
  background-color: #242424;
  color: white;
  flex-shrink: 0;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
}
