body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes main {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navbar {
  box-sizing: border-box;
  height: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 30px;
  background: #181818;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  animation: main 1s ease-in;
}

.main {
  width: 87%;
  margin: 0 auto;
  margin-top: 30px;
  animation: main 1.5s ease-in;
}

.intro {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #e7e7e7;
  background-image: linear-gradient(
    25deg,
    rgb(255, 255, 255),
    rgb(186, 234, 253)
  );
  color: #242424;
  border: 1px solid rgb(141, 141, 141);
  animation: main 2s ease-in;
}
.image-cont {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  animation: main 2.5s ease-in;
  background-color: rgb(252, 252, 252);
}

.image {
  width: 110%;
}

.info-cont {
  display: none;
  height: 80px;
}

.info-cont div {
  margin-bottom: 8px;
  color: #363636;
}

.info-cont span {
  font-weight: 600;
  margin-right: 5px;
  color: #181818;
}

.info-cont-active {
  display: flex;
  flex-direction: column;
  color: #242424;
}

.main-info {
  display: flex;
  flex-direction: column;
  color: #242424;
  margin: 10px 0px;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 30px;
  padding: 20px;
  margin-top: 20px;
  transition: height 1s ease-in;
  border: 1px solid rgb(141, 141, 141);
  animation: main 3s ease-in;
}

.main-info-active {
  height: 280px;
  transition: height 1s ease-in;
}

.info-btn {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: auto;
  font-weight: 700;
  color: #3a3a3a;
}
.angle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  transition: rotate 2s ease-in;
}

.angle-active {
  transform: rotate(180deg);
  transition: rotate 2s ease-in;
  padding-bottom: 5px;
}

.contact {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #242424;
  background-image: linear-gradient(
    40deg,
    rgba(52, 255, 137, 0.062),
    rgb(73, 255, 128)
  );
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 30px 20px;
  animation: main 3s ease-in;
}

.contact-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 50px;
  border-radius: 36px;
  background-color: #242424;
  color: white;
  flex-shrink: 0;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: #181818;
  margin-top: 30px;
  color: white;
}

.copy {
  margin-bottom: 20px;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  width: 30%;
  display: flex;
  margin-inline: auto;
}
.icon {
  width: 30px;
  height: 30px;
}

.icon img {
  width: 100%;
}

@media (min-width: 700px) {
  .navbar {
    width: 70%;
  }
  .main {
    width: 69%;
    display: grid;
  }

  .intro {
    display: flex;
    justify-content: center;
  }

  .image-cont {
    height: 600px;
    justify-content: center;
    border: 1px solid rgb(141, 141, 141);
  }

  .image-cont img {
    width: 35%;
    border-radius: 16px;
  }

  .info-cont {
    width: 50%;
  }
  .info-cont {
    margin-top: 40px;
    height: fit-content;
    width: fit-content;
    margin: 0px auto;
  }

  .main-info {
    padding-top: 40px;
    border: none;
    background: #faf9f9;
  }
  .contact {
    display: flex;
    height: 300px;
    align-items: center;
    padding: 0;
    justify-content: center;
  }
  .contact-btn {
    width: 35%;
    align-items: center;
  }
}
